@{
    ViewData["Title"] = "Home Page";
}


@{
    Layout = "_Layout";
}

        <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

   <div class="bg-image d-flex justify-content-center align-items-center">
        <div class="container text-center">
                                                    <center><img src="~/img/logo.svg" style="width:350px; padding-top: 20px;" />

            <!-- Add your content here -->
        </div>
    </div>
    <div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="~/img/yogastudio2.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6"><h2>Welcome to the Admin Dashboard</h2>
<p>This dashboard provides you with all the tools you need to manage your yoga studio efficiently. From managing instructors and classes to overseeing student registrations and scheduling, you have everything at your fingertips.</p>
<p>Use the navigation on the top to access different sections of the dashboard. If you need any assistance, refer to the help section or contact support.</p>
<p>Start exploring and make the most out of your yoga studio management experience!</p>

        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
         <h2>Manage Your Content</h2>
<p>With the content management tools provided, you can easily update and organize your yoga studio's information. From class schedules to instructor profiles, keeping everything up-to-date is simple and efficient.</p>
<p>Utilize the intuitive interface to make changes and additions as needed. Whether you're adding new classes, updating instructor information, or editing class descriptions, managing your content has never been easier.</p>

        </div>
        <div class="col-md-6">
            <img src="~/img/yogastudio1.jpg" alt="Image" class="img-fluid">
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-3">
        <div class="card text-center">
            <img src="~/img/manageclass.svg" alt="Image" class="img-fluid">
            <div class="card-body">
                <h5 class="card-title">Manage Classes</h5>
                <p class="card-text">Easily manage and update class schedules, descriptions, and instructor assignments.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center">
            <img src="~/img/manageworkshop.svg" alt="Image" class="img-fluid">
            <div class="card-body">
                <h5 class="card-title">Manage Workshops</h5>
                <p class="card-text">Organize and schedule workshops, manage attendee registrations, and track workshop details.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center">
            <img src="~/img/managestudent.svg" alt="Image" class="img-fluid">
            <div class="card-body">
                <h5 class="card-title">Manage Students</h5>
                <p class="card-text">Keep track of student registrations, and progress in classes and workshops.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center">
            <img src="~/img/manageinstructor.svg" alt="Image" class="img-fluid">
            <div class="card-body">
                <h5 class="card-title">Manage Instructors</h5>
                <p class="card-text">Manage instructor profiles, qualifications, and class assignments with ease.</p>
            </div>
        </div>
    </div>
</div>
